<header
  tuiNavigationHeader
  class="flex items-center justify-between sm:gap-4"
  ngSkipHydration
>
  <div class="flex items-center gap-2" ngSkipHydration>
    <button
      title="{{ 'Menu' | translate }}"
      tuiIconButton
      tuiNavigationDrawer
      type="button"
      [(open)]="open"
      ngSkipHydration
    >
      <tui-data-list ngSkipHydration>
        @for (group of globalService.drawer() | keyvalue; track group.key) {
          <tui-opt-group [label]="group.key | translate" ngSkipHydration>
            @for (item of group.value; track item.name) {
              <button
                tuiOption
                type="button"
                (click)="onClick(item); open = false"
                class="gap-2"
                ngSkipHydration
              >
                <tui-avatar [src]="item.icon || '@tui.file'" ngSkipHydration />
                {{ item.name | translate }}
              </button>
            }
          </tui-opt-group>
        }
      </tui-data-list>
    </button>
    <strong class="hidden sm:block" ngSkipHydration>{{
      globalService.headerTitle() | translate
    }}</strong>
  </div>
  <div class="flex items-center gap-2 sm:gap-4" ngSkipHydration>
    <tui-textfield class="!m-0" ngSkipHydration>
      <input
        tuiSearchHotkey
        [formControl]="control"
        [tuiInputSearch]="search"
        ngSkipHydration
      />
      <ng-template #search>
        <tui-search-results [results]="results$ | async" ngSkipHydration>
          <tui-search-history
            [popular]="globalService.searchPopular()"
            ngSkipHydration
          />
          <ng-template let-item>
            <a tuiCell [href]="item.href" ngSkipHydration>
              <tui-avatar [src]="item.icon || '@tui.file'" ngSkipHydration />
              <span tuiTitle ngSkipHydration>
                {{ item.title }}
                <span tuiSubtitle ngSkipHydration>{{ item.subtitle }}</span>
              </span>
            </a>
          </ng-template>
        </tui-search-results>
      </ng-template>
    </tui-textfield>
    <button
      [tuiDropdown]="content"
      tuiDropdownOpen
      type="button"
      class="flex justify-center items-center gap-2"
      ngSkipHydration
    >
      <tui-avatar [src]="'@tui.settings'" ngSkipHydration />
    </button>
  </div>
</header>
<ng-template #content>
  <tui-data-list role="menu" ngSkipHydration>
    @for (group of globalService.settings() | keyvalue; track group.key) {
      <tui-opt-group [label]="group.key | translate" ngSkipHydration>
        @for (item of group.value; track item.name) {
          <button
            tuiOption
            type="button"
            (click)="onClick(item)"
            class="gap-2"
            ngSkipHydration
          >
            <tui-avatar [src]="item.icon || '@tui.file'" ngSkipHydration />
            {{ item.name | translate }}
          </button>
        }
      </tui-opt-group>
    }
  </tui-data-list>
</ng-template>
